<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="../static/login_style.css">
</head>

<body>



    <!-- 로그인 폼 -->
    <div class="login-box">
        <div>
            <h1>로그인</h1>
        </div>
        <form action="/login" method="POST">
            <!-- <label for="username">사용자 이름:</label> -->
            <input type="text" id="username" name="username" required placeholder="아이디">
            <br>
            <!-- <label for="password">비밀번호:</label> -->
            <input type="password" id="password" name="password" required placeholder="비밀번호">
            <div class="line-1"></div>
            <br>
            <div class="box">
                <input type="submit" value="로그인">
                <a href="/signup">회원가입</a>
            </div>

        </form>
        <!-- 회원가입 페이지로 이동하는 버튼 -->

    </div>




    <!-- 로그인 실패 시 메시지 -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div>
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}
</body>

</html>